
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}
@using Microsoft.AspNetCore.Http;
		@inject IHttpContextAccessor HttpContextAccessor

		@{
			var Username = @HttpContextAccessor.HttpContext.Session.GetString("ReferenceId");
			var IsSubscribed = @HttpContextAccessor.HttpContext.Session.GetString("IsSubscribed");
			var WalletId = @HttpContextAccessor.HttpContext.Session.GetString("WalletId");
			var Firstname = @HttpContextAccessor.HttpContext.Session.GetString("Firstname");
			var Lastname = @HttpContextAccessor.HttpContext.Session.GetString("Lastname");
			var isAdmin = @HttpContextAccessor.HttpContext.Session.GetString("RoleFK");
			
			var userFullName = string.Format("{0} {1}", Firstname, Lastname);
			if(isAdmin != null && isAdmin != ""){
				userFullName = @HttpContextAccessor.HttpContext.Session.GetString("Email");
			}
		}
		@Html.Hidden("refId", Username)
		@Html.Hidden("isSubcribed", IsSubscribed)
		@Html.Hidden("fullname", userFullName)
		@Html.Hidden("isAdmin", isAdmin)
<!-- Start Dashboard Area -->
<div class="dashboard-area">
	<div class="container-fluid">
		<div class="dashboard-title-wrap">
			@*<div class="row align-items-center">
				<div class="col-lg-6 col-sm-6">
					<ul class="dashboard-page-title">
						<li>
							<a href="dashboard.html">
								Home 
							</a>
						</li>
		
						<li class="active">Dashboard</li>
					</ul>
				</div>
				<div class="col-lg-6 col-sm-6">
					<form class="dashboard-src-form">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
							<button type="submit" class="src-btn">
								<i class="ri-search-line"></i>
							</button>
						</div>
					</form>
				</div>
			</div>*@
		</div>

		<div class="dashboard-interface-card">
			<div class="row">
				@if(isAdmin != "" && isAdmin != null)
				{
					<div class="col-xl-4 col-sm-6">
						<div class="single-interface-card">
							<i class="ri-home-8-line"></i>
							<p>Total Properties</p>
							<h2 class="total-property">0</h2>
						</div>
					</div>
					<div class="col-xl-4 col-sm-6">
						<div class="single-interface-card">
							<i class="ri-home-7-line"></i>
							<p>Active Properties</p>
							<h2 class="active-property">0</h2>
						</div>
					</div>
					<div class="col-xl-4 col-sm-6">
						<div class="single-interface-card">
							<i class="ri-building-2-line"></i>
							<p>Active Investments</p>
							<h2 class="active-investment">0</h2>
						</div>
					</div>
					<div class="col-xl-4 col-sm-6">
						<div class="single-interface-card">
							<i class="ri-notification-2-fill"></i>
							<p>Payment Due Investments</p>
							<h2 class="payment-due">0</h2>
						</div>
					</div>
					<div class="col-xl-4 col-sm-6">
						<div class="single-interface-card">
							<i class="ri-shield-user-fill"></i>
							<p>Total Customers</p>
							<h2 class="total-customer">0</h2>
						</div>
					</div>
					<div class="col-xl-4 col-sm-6">
						<div class="single-interface-card">
							<i class="ri-shield-user-line"></i>
							<p>Inactive Customers</p>
							<h2 class="inactive-customer">0</h2>
						</div>
					</div>
					<script>
						$(() => {GetUAdminDashboard()});
					</script>
				}
				else
				{
					<div class="col-xl-4 col-sm-6">
						<div class="single-interface-card">
							
							<p>Wallet</p>
							<h2 id="walletBalance">&#8358;0</h2>
							<a href="#"><i class="fa fa-exchange"></i></a>
						</div>
					</div>
					<div class="col-xl-4 col-sm-6">
						<div class="single-interface-card">
							<i class="ri-home-8-line"></i>
							<p>Total Investments</p>
							<h2 class="total-investment">0</h2>
						</div>
					</div>
					<div class="col-xl-4 col-sm-6">
						<div class="single-interface-card">
							<i class="ri-home-7-line"></i>
							<p>Active Investment</p>
							<h2 class="active-investment">0</h2>
						</div>
					</div>
					<div class="col-xl-4 col-sm-6">
						<div class="single-interface-card">
							<i class="ri-building-2-line"></i>
							<p>Closed Investments</p>
							<h2 claas="closed-investment">0</h2>
						</div>
					</div>
					<div class="col-xl-4 col-sm-6">
						<div class="single-interface-card">
							<i class="ri-notification-2-fill"></i>
							<p>Payment Due Investments</p>
							<h2>0</h2>
						</div>
					</div>
					<script>
						$(() => {GetUserDashboard()});
					</script>
				}
				
			</div>
		</div>
	</div>
</div>
<!-- End Dashboard Area -->

<script>
	$(document).ready(() => {
		//customerDetails();
		
	})
</script>
