
<!doctype html>
<html lang="eng">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Links Of CSS File -->
		<link rel="stylesheet" href="~/css/bootstrap.min.css">
		<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="~/css/owl.carousel.min.css">
		<link rel="stylesheet" href="~/css/flaticon.css">
		<link rel="stylesheet" href="~/css/remixicon.css">
		<link rel="stylesheet" href="~/css/meanmenu.min.css">
		<link rel="stylesheet" href="~/css/animate.min.css">
		<link rel="stylesheet" href="~/css/magnific-popup.min.css">
		<link rel="stylesheet" href="~/css/dark-mode.css">
		<link rel="stylesheet" href="~/css/style.css">
		<link rel="stylesheet" href="~/css/responsive.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


		<script src="~/js/jquery.min.js"></script>
		<script src="~/js/sweetalert.min.js"></script>
		 <script src="~/js/moment.js"></script>
		 <script src="~/js/chart.min.js"></script>
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="~/images/favicon.png">
		<!-- Title -->
		<title>@ViewData["Title"] - Dominoes Properties</title>
    </head>
	@using Microsoft.AspNetCore.Http;
		@inject IHttpContextAccessor HttpContextAccessor

		@{
			string Username = @HttpContextAccessor.HttpContext.Session.GetString("ReferenceId");
			var IsSubscribed = @HttpContextAccessor.HttpContext.Session.GetString("IsSubscribed");
			var WalletId = @HttpContextAccessor.HttpContext.Session.GetString("WalletId");
			var Firstname = @HttpContextAccessor.HttpContext.Session.GetString("Firstname");
			var Lastname = @HttpContextAccessor.HttpContext.Session.GetString("Lastname");
			var isAdmin = @HttpContextAccessor.HttpContext.Session.GetString("RoleFK");
			
			var userFullName = string.Format("{0} {1}", Firstname, Lastname);
			if(isAdmin != null && isAdmin != ""){
				userFullName = @HttpContextAccessor.HttpContext.Session.GetString("Email");
			}
		}

		@Html.Hidden("refId", Username)
		@Html.Hidden("isSubcribed", IsSubscribed)
		@Html.Hidden("fullname", userFullName)
		@Html.Hidden("isAdmin", isAdmin)
    <body>
		<!-- Start Preloader Area -->
		<div class="preloader" id="loader-style">
			<div class="preloader-wrap">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<!-- End Preloader Area -->
		
		<!-- Start Navbar Area --> 
		<div class="navbar-area">
			<div class="mobile-responsive-nav">
				<div class="container">
					<div class="mobile-responsive-menu">
						<div class="logo">
							<a href="index-2.html">
								<img src="~/images/Logo-WHT.png" class="main-logo" alt="Dominoes logo">
								<img src="~/images/Logo-WHT.png" class="white-logo" alt="Dominoes logo">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="desktop-nav">
				<div class="container-fluid">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="index-2.html">
							<img src="~/images/Logo-WHT.png" class="main-logo" style="width:150px;" alt="logo">
							<img src="~/images/Logo-WHT.png" class="white-logo" style="width:150px;" alt="logo">
						</a>

						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
							<div class="others-options">
								<form class="search-form">
									<input type="text" class="form-control" placeholder="Search...">
									<button type="submit" class="src-btn">
										<i class="ri-search-line"></i>
									</button>
								</form>
							</div>

							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="/" class="nav-link active" id="home-link">
										Home            
									</a>
								</li>
								<li class="nav-item">
									<a asp-controller="Home" asp-action="properties" class="nav-link" id="property-links">
										Investments
									</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link">
										How it works            
									</a>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">Contact Us</a>
								</li>
							</ul>

							<div class="others-options style">
								<ul>
							
									@if(Username == "" || userFullName == " "){
										<li>
											<a asp-controller="Home" asp-action="SignIn" class="default-btn">
												Sign In / Sign Up
											</a>
										</li>
									}

									@if(isAdmin != null || Username != null)
									{
										<li>
											<div class="dropdown">
												<button type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
													<img src="~/images/agents/agent-1.jpg" alt="Image">
													<span>@userFullName</span>
												</button>
												<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<li>
														<a asp-controller="Dashboard" asp-action="Index">
															<i class="ri-dashboard-line"></i>
															Dashboard
														</a>
													</li>
													@if(userFullName != null)
													{
														<li>
															<a asp-controller="Dashboard" asp-action="Profile">
																<i class="ri-user-line"></i>
																My Profile
															</a>
														</li>
													}
													<li>
														<a href="javascript:void(0)" class="logout">
															<i class="ri-logout-box-r-line"></i>
															Sign out
														</a>
													</li>
												</ul>
											</div>
										</li>
									}
								</ul>
							</div>
							
						</div>
					</nav>
				</div>
			</div>

			<!-- Start Dark Mode Area -->
			@*<div class="switch-wrapper">
				<div class="container-fluid">
					<div class="switch-btn">
						<label>
							<input class="switch" type="checkbox" id="darkSwitch">
							<div>
								<div class="moon">
									<img src="~/images/dark.png" alt="Dominoes logo">
								</div>
								<div class="sun">
									<img src="~/images/light.png" alt="Dominoes logo">
								</div>
							</div>
						</label>
					</div>
				</div>
			</div>*@
			<!-- End Dark Mode Area -->

			<div class="others-option-for-responsive">
				<div class="container">
					<div class="dot-menu">
						<div class="inner">
							<div class="circle circle-one"></div>
							<div class="circle circle-two"></div>
							<div class="circle circle-three"></div>
						</div>
					</div>
					
					<div class="container">
						<div class="option-inner">
							<div class="others-options justify-content-center d-flex align-items-center">
								<ul>
									<li>
										<a href="my-listings.html" class="wishlist">
											<i class="ri-heart-line"></i>
											<span>0</span>
										</a>
									</li>
									<li>
										<a href="my-account.html" class="login">
											<i class="ri-user-line"></i>
										</a>
									</li>
									<li>
										<a href="add-listing.html" class="default-btn">
											Add Listing
										</a>
									</li>
									<li>
										<form class="search-form">
											<input type="text" class="form-control" placeholder="Search...">
											<button type="submit" class="src-btn">
												<i class="ri-search-line"></i>
											</button>
										</form>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Navbar Area -->
	
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	<!-- Start Footer Area -->
		<div class="footer-area bg-color-f9fcff pt-100 pb-70" style="display:block !important;visibility:visible;animation-name:auto;">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget animate__animated animate__fadeInUp delay-0-2s">
							<a href="#">
								<img src="~/images/Logo-WHT.png" class="main-logo" alt="Dominoes logo">
								<img src="~/images/Logo-WHT.png" class="white-logo" alt="Dominoes logo">
							</a>

							<p>We are a great agency for buying and selling your property with confidence. So you can easily buy and sell through our company.</p>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget  animate__animated animate__fadeInUp delay-0-4s">
							<h3>Contacts Info</h3>

							<ul class="contact-info">
								<li>
									<i class="ri-map-pin-fill"></i>
									Office address
								</li>
								<li>
									<i class="ri-phone-fill"></i>
									<a href="tel:+1-719-504-1984">+234 000-000-000</a>
								</li>
								<li>
									<i class="ri-mail-fill"></i>
									<a href="javascript:void(0)"><span class="__cf_email__" data-cfemail="8ce5e2eae3ccebe1ede5e0a2efe3e1">[email&#160;protected]</span></a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget" >
							<h3>Helpful Links</h3>

							<ul class="help-link">
								<li>
									<i class="ri-arrow-right-s-fill"></i>
									<a href="/">Home</a>
								</li>
								<li>
									<i class="ri-arrow-right-s-fill"></i>
									<a href="#">Properties</a>
								</li>
								<li>
									<i class="ri-arrow-right-s-fill"></i>
									<a href="#">How it works</a>
								</li>
								<li>
									<i class="ri-arrow-right-s-fill"></i>
									<a href="#">Contact us</a>
								</li>
							</ul>
						
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget">
							<h3>Newsletter</h3>
							<p>Stay Informed through our newsletter & get offers any time!</p>

							@*<form class="newsletter-form" data-toggle="validator">
								<input type="email" class="form-control" placeholder="Your email address" name="EMAIL" required autocomplete="off">
	
								<button class="submit-btn" type="submit">
									<i class="ri-arrow-right-line"></i>
								</button>
	
								<div id="validator-newsletter" class="form-result"></div>
							</form>	*@
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Area -->

		<!-- Start Copyright Area -->
		<div class="copy-right-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6  ">
						<p>Copyright @@ <span id="year"></span> All Rights Reserved by <a href="javascript:void(0)">Dominoes Properties</a></p>
					</div>
					<div class="col-lg-6">
						<div class="language animate__animated animate__fadeInRight delay-0-2s">
							<select class="form-select" aria-label="Default select example">
								<option selected>Language</option>
								<option value="1">English</option>
							</select>
							<i class="ri-global-line"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Copyright Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->

        <!-- Links of JS File -->
        @*<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>*@
		
        <script src="~/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/meanmenu.min.js"></script>
		<script src="~/js/owl.carousel.min.js"></script>
		<script src="~/js/wow.js"></script>
		<script src="~/js/mixitup.min.js"></script>
		<script src="~/js/magnific-popup.min.js"></script>
		<script src="~/js/dark-mode-switch.min.js"></script>
		<script src="~/js/form-validator.min.js"></script>
		<script src="~/js/contact-form-script.js"></script>
		<script src="~/js/ajaxchimp.min.js"></script>
		<script src="~/js/custom.js"></script>
		<script src="~/js/main.js"></script>

		<script>
			$(document).ready(function(){
				var pathname = window.location.pathname;
				 $('.navbar-nav li a').each(function() {
					if ($(this).attr('href') == pathname) {
						$('.navbar-nav li a').removeClass("active");
						$(this).addClass('active');
					}
				});
			});
		</script>
		@await RenderSectionAsync("Scripts", required: false)
    </body>
</html>